*{
    margin: 0;
    padding: 0;
}
.game-card {
    max-width: 400px;
}

.game-image {
  height: 180px;
  object-fit: cover;
}
.game-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
<<<<<<< HEAD

.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

=======
>>>>>>> 42192ed630d43f759c95fc195974bc3c19575008
