*{
    margin: 0;
    padding: 0;
}
.game-card {
    max-width: 400px;
}

.game-image {
  height: 180px;
  object-fit: cover;
}
.game-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.book-card {
  transition: transform 0.2s ease-in-out;
}

.book-card:hover {
  transform: scale(1.03);
}

.slider-container:hover .carousel-controls a {
  opacity: 1 !important;
  transition: opacity 0.3s ease;
}

.carousel-controls a {
  transition: opacity 0.3s ease;
}
