/* src/pages/HomePage.css */
.home-page {
    font-family: Arial, sans-serif;
  }
  
  .offer-section {
    margin-top: 50px; /* المسافة بين HeroSection و SpecialOffer */
    padding: 20px;
    text-align: center;
  }
  
  .section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  